/* = Parent Theme Custom CSS File
-------------------------------------------------------------- */

/* Image floating */

.float-left-10 {
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}

.float-col-4 {
	width: 33.3%;
}

.float-col-6 {
	width: 50%;
}

.margin--top-0 {
	margin-top: 0;
}

.content-section-top {
	margin-top: 30px;
}

.content-info {
	margin-bottom: 30px;
}

.content-info h3{
	margin: 0 0 5px 0;
}

.content-info p{
	margin: 0 0 10px 0;
}

.content-info p:last-child{
	margin: 0;
}

/* Testimonials */

.section-testimonials {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 30px 0;
	margin: 30px 0;
}

.testimonial-box {
	display: table;
	min-height: 392px;
	background-color: #FFF;
	border-radius: 10px;
}

.testimonial-content {
	display: table-cell;
	vertical-align: middle;
	padding: 30px;
}

.testimonial-content p {
	text-align: center;
	margin: 0;
}

.testimonial-content p.quote {
	font-size: 20px;
	font-style: italic;
	color: #452514;
	margin: 0 0 20px 0;
}

.testimonial-content p.quote q {
  	quotes: "“ " " ”" "‘ " " ’";
}

.testimonial-content p.quote q:before,
.testimonial-content p.quote q:after {
	font-size: 26px;
}

.testimonial-content p.quote q:before {
    content: open-quote;
}

.testimonial-content p.quote q:after {
    content: close-quote;
}

.testimonial-content p.author {
	font-size: 13px;
}

/* Disclaimers */

.section-disclaimers p {
	font-size: 11px;
	font-style: italic;
	margin: 0;	
}

@media only screen and (max-width: 480px) {
	.logo img {
		width: 200px;
	}
	.testimonial-box {
		min-height: auto;
		margin-bottom: 30px;
	}
	.margin-bottom-30-mobile {
		margin-bottom: 30px;
	}
	#filters li {
		display: block;
	}
	.wp-image-435 {
		width: 100%;
		height: auto;
	}
}